$accent: #c00
// ^ variable.other.sass

=button($radius)
// ^ entity.name.function.mixin.sass
  border-radius: $radius
//^ support.type.property-name.sass

.card
// ^ entity.other.attribute-name.class.sass
  color: darken($accent, 10%)
//       ^ support.function.misc.sass
